<div class="text-center my-3">
  <button class="btn btn-accent md:btn-md shadow" onclick="my_modal_5.showModal()">
    <i class="bi bi-plus-lg"></i>
    Cadastrar transação
  </button>
  <dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Registre sua transação</h3>
      <p class="py-4">Insira as informações da sua transação</p>

      <form method="post" class="flex flex-col justify-center items-center w-full max-w-xl" action="/transacoes">
        <div class="grid grid-cols-1 rounded-xl border-solid border-2 border-[#496989] p-3 w-2/3 max-w-96 gap-3">
          <input id="text" type="text" placeholder="Nome" class="input input-bordered w-full max-w-xs" name="nome" autocomplete="off" />
          <input id="descricao" type="text" placeholder="Descrição curta" class="input input-bordered w-full max-w-xs" name="descricao" autocomplete="off" />
          <input id="number" type="number" step="0.01" placeholder="Valor" class="input input-bordered w-full max-w-xs" min="0" name="valor" autocomplete="off" />
        </div>

        <div class="modal-action w-full flex items-center justify-evenly">
          <div class="tooltip" data-tip="'Esc' para fechar">
            <kbd class="kbd"><i class="bi bi-x-circle"></i></kbd>
          </div>
          <button id="botaoCadastrar" class="btn btn-accent" type="submit">
            <i class="bi bi-plus-lg"></i>
            Cadastrar
          </button>
        </div>
      </form>
    </div>
  </dialog>
</div>

<div class="container mx-auto my-3 px-5 w-full lg:w-9/12">
  <div class="overflow-x-auto">
    <table class="table table-lg">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Descrição curta</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
          {{#each registroTransacoes}}
            <tr class="hover">
              <th>{{this.id}}</th>
              <td>{{this.nome}}</td>
              <td>{{this.descricao}}</td>
              <td>R$ {{this.valor}}</td>
              <td>
                <div class="flex flex-row gap-2 items-center">
                  <a href="/transacoes/editar/{{this.id}}" class="tooltip" data-tip="Editar">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                  <form method="post" action="/transacoes/excluir/{{this.id}}" class="m-0 tooltip" data-tip="Excluir">
                    <button type="submit" >
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
              </td>
            </tr>
          {{/each}}
      </tbody>
    </table>
  </div>

</div>